
<footer class="page-footer font-small unique-color-dark">
  
    <div class="container text-center text-md-left mt-5">
  
      <div class="row mt-3">
  
        <div class="col-md-6 col-lg-4 col-xl-6 mx-auto mb-4">

          <h6 class="text-uppercase font-weight-bold"> 
            ŞİRKET ADI</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>    Firmamız 1997 yılında Balıkesir'in Ayvalık ilçesinde 
              kurulmuş olup; 2000 metrekare kapalı alanda hizmet veren  sektörün en eski firmalarından biridir. 
               Kurucumuz Demet ATAK gıda sektöründe uzun yıllar boyunca edindiği deneyim ve bilgi birikimi ile  yüksek teknoloji ve imalat konusunda uzmanlaşmış bir ekiple birleştirerek   gıda ve kimya  sektörünün her alanına
               hitap eden paslanmaz çelik imalatlar yapmaya başlamıştır.</p>
  
        </div>
        <div class="col-md-6 col-lg-4 col-xl-6 mx-auto mb-md-0 mb-4">
  
        
          <h6 class="text-uppercase font-weight-bold">İLETİŞİM</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fas mr-3"></i> İstanbul,Türkiye</p>
          <p>
            <i class="fas  mr-3"></i> selcanatak2629.com</p>
          <p>
            <i class="fas  mr-3"></i> + 90 554 875 88</p>
          <p>
            <i class="fas  mr-3"></i> + 90 534 567 89</p>
  
        </div>
        
  
      </div>
      
  
    </div>
    
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="#"> Demet ATAK</a>
    </div>

  
  </footer>
 