.card{
    border-radius: 10px;
    margin-bottom: 10px;
}
.card-header{
 text-align: left;
}

.row-6 h5{
 text-align: left;
 font-size: 15px;
 color: rgb(7, 87, 172);
}
.currentColor{
 color: rgb(7, 87, 172);

}
.img-fluid{
    max-width: 100%;
    height: auto;
}
.bi-geo-alt-fill{
 color: rgb(7, 87, 172);

}
.bi-heart{
    color: red;
}