
  <div id="slider" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" >
      <div class="corousel-item active">
        <img  src="src/assets/images/image1.jpg" />
      </div>
      <div class="corousel-item">
        <img src="src/assets/images/image2.jpg"/>
      </div>
      <div class="corousel-item">
        <img src="/src/assets/images/image3.jpg"/>
      </div>
      <div class="corousel-item">
          <img src="/src/assets/images/image4.jpg">
      </div>
    </div>
    <a href="#slider" class="carousel-control-prev" data-slide="prev"> 
      <span class="carousel-control-prev-icon"> </span>
    </a>
    <a href="#slider" class="carousel-control-next" data-slide="next">
      <span class="carousel-control-next-icon"> </span>

    </a>
  </div>

 
