.container{
    min-height: 20vh;
}
.btn{
    min-width: 15%;
   margin-left: 10px;
   background-color: rgb(241, 238, 238);
   border: 2px solid rgb(246, 151, 3);
 text-align: center;
 border-radius: 10px;
   
}
.form-control{
    min-width: 40%;
    margin-right: 15px;
    border: 1px;
   background-color: rgb(241, 238, 238);
   border: 2px solid rgb(246, 151, 3);
 border-radius: 10px;

}
.header{
    
    max-width: 100vw !important;
    min-height: 200px;
    height: min-content;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.nav-link{
    font-size: 40px;
    color: rgb(241, 238, 238);
}
form{
    margin-right: 50px;
}
