
    <form  >
       <div class="row w-100">
        <input
        type="text"
        class="form-control"
        placeholder="Otel,Şehir Bölge veya Tema Adı"
        id="text"
      />
       </div>
       <div class="row w-100">
        <div class="col-3">
            <input
            type="date"
            class="form-control"
            placeholder="Gidiş Tarihi"
            id="date"
          />
        </div>
        <div class="col-3 w-100">
            <input
            type="date"
            class="form-control"
            placeholder="Dönüş Tarihi"
            id="returnDate"
          />
        </div>
        <div class="col-3 w-100">
            <input
        type="number"
        class="form-control"
        min="0"
        max="100"
        placeholder="Yetişkin Sayısı"
        id="adult"
      />
        </div>
        <div class="col-3 w-100">
            <input
            type="number"
            class="form-control"
            min="0"
            max="100"
            placeholder="Çocuk Sayısı"
            id="child"
          />
        </div>
        <button class="btn w-100" type="button">HEMEN ARA</button>
       </div>
      </form>
    

